<a href="https://colab.research.google.com/github/ITALOZDKJ/Me-tornando-um-analista-de-dados/blob/main/ambev.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import of libs

In [ ]:
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.tsa.seasonal import seasonal_decompose as sd
import pandas_datareader.data as web
import numpy as np

# Collect of negociation datas

In [ ]:
tricker = yf.Ticker('ABEV3.SA')

In [ ]:
ambev = tricker.history(interval='1d', start='2016-01-01', end='2021-10-27')
ambev_m = tricker.history(interval='1mo', start='2016-01-01', end='2021-10-27')

In [ ]:
ambev

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2016-01-04,15.222132,15.222132,14.775684,14.775684,13206900,0.0,0
2016-01-05,14.810028,15.041838,14.689831,15.007495,10774200,0.0,0
2016-01-06,14.904468,15.007494,14.767100,14.861540,7739100,0.0,0
2016-01-07,14.741343,14.870125,14.466606,14.466606,15316400,0.0,0
2016-01-08,14.535292,14.767102,14.535292,14.655489,10684000,0.0,0
...,...,...,...,...,...,...,...
2021-10-20,15.300000,15.580000,15.210000,15.410000,19273600,0.0,0
2021-10-21,15.000000,15.280000,14.850000,15.140000,23499300,0.0,0
2021-10-22,14.830000,15.230000,14.540000,15.000000,29599100,0.0,0
2021-10-25,15.010000,15.440000,15.000000,15.270000,19933100,0.0,0
2021-10-26,15.150000,15.320000,15.050000,15.160000,20648000,0.0,0

# Extraction of features

In [ ]:
ambev = tricker.history(interval='1d', start='2016-01-01', end='2021-10-27')
ambev.reset_index(inplace=True)

In [ ]:
def features_initial(x):
    x['Day'] = x['Date'].dt.day
    x['Month'] = x['Date'].dt.month
    x['Year'] = x['Date'].dt.year
    x['Rentability%'] = round((x['Close']/x['Close'].shift()) * 100 -100, 2)
    x['Rentability pure'] = round(x['Close'] - x['Close'].shift(),2)

In [ ]:
features_initial(ambev)

In [ ]:
ambev

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Day,Month,Year,Rentability%,Rentability pure
0,2016-01-04,15.222130,15.222130,14.775682,14.775682,13206900,0.0,0,4,1,2016,NaN,NaN
1,2016-01-05,14.810025,15.041834,14.689828,15.007491,10774200,0.0,0,5,1,2016,1.57,0.23
2,2016-01-06,14.904470,15.007496,14.767102,14.861542,7739100,0.0,0,6,1,2016,-0.97,-0.15
3,2016-01-07,14.741343,14.870125,14.466606,14.466606,15316400,0.0,0,7,1,2016,-2.66,-0.39
4,2016-01-08,14.535290,14.767100,14.535290,14.655487,10684000,0.0,0,8,1,2016,1.31,0.19
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1439,2021-10-20,15.300000,15.580000,15.210000,15.410000,19273600,0.0,0,20,10,2021,1.78,0.27
1440,2021-10-21,15.000000,15.280000,14.850000,15.140000,23499300,0.0,0,21,10,2021,-1.75,-0.27
1441,2021-10-22,14.830000,15.230000,14.540000,15.000000,29599100,0.0,0,22,10,2021,-0.92,-0.14
1442,2021-10-25,15.010000,15.440000,15.000000,15.270000,19933100,0.0,0,25,10,2021,1.80,0.27
1443,2021-10-26,15.150000,15.320000,15.050000,15.160000,20648000,0.0,0,26,10,2021,-0.72,-0.11

## Creating a function to extract more datas

In [ ]:
for month in range(1,13):
        x.loc[(x['Day'] == 22) & (x['Month']==month),['Bougth']] = 1

6

In [ ]:
# Extract datas and restar index
ambev = tricker.history(interval='1d', start='2017-01-01', end='2021-10-27')
ambev.reset_index(inplace=True)
features_initial(ambev)
# Create a new dataframe
desempenho_ambev = ambev
# Create a function
def features_cash(x, y):
    x.loc[:,'Action_value'] = (y['High'] + y['Low'])/2
    year_temp = 0
    # Instance of apports
    for year in list(x['Year'].unique()):
        year_temp = x.loc[(x['Year']==year)]
        for month in list(year_temp['Month'].unique()):
            temp = x.loc[(x['Month'] == month) & (x['Year']==year)]
            day = list(temp[-1:]['Day'])
            day = day[0]
            x.loc[(x['Day'] == day) & (x['Month'] == month) & (x['Year'] == year),['Bougth']] = 1
    # Aport value
    x.loc[:,'Valor_aportado'] = x['Bougth'] * x['Action_value']
    x.fillna(0, inplace=True)
    # The sum of actions
    x['Total_actions'] = 0
    for pos,c in enumerate(x['Bougth']):
        x.loc[pos,'Total_actions'] = x.loc[:pos,'Bougth'].sum()
    
    # The sum of invest value 
    x['Total_aport'] = 0
    for pos,c in enumerate(x['Total_actions']):
        x.loc[pos,'Total_aport'] = x.loc[:pos,'Total_actions'].sum()
        
    # The sum of dividends receives with actual aports
    x['Dividend_receive'] = x['Total_actions'] * x['Dividends']
    
    # The final dividends receives
    x['Total_receive'] = 0
    for pos,c in enumerate(x['Dividend_receive']):
        x.loc[pos,'Total_receive'] = x.loc[:pos,'Dividend_receive'].sum()

In [ ]:
features_cash(desempenho_ambev, ambev)

In [ ]:
desempenho_ambev

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Day,Month,Year,Rentability%,Rentability pure,Action_value,Bougth,Valor_aportado,Total_actions,Total_aport,Dividend_receive,Total_receive
0,2017-01-02,14.540124,14.824875,14.468936,14.513428,4265400,0.0,0,2,1,2017,0.00,0.00,14.646906,0.0,0.000,0,0,0.0,0.0000
1,2017-01-03,14.682497,14.833772,14.629107,14.807076,9535500,0.0,0,3,1,2017,2.02,0.29,14.731439,0.0,0.000,0,0,0.0,0.0000
2,2017-01-04,14.824875,14.824875,14.620210,14.691398,9426500,0.0,0,4,1,2017,-0.78,-0.12,14.722542,0.0,0.000,0,0,0.0,0.0000
3,2017-01-05,14.700297,14.904961,14.664702,14.771484,11555800,0.0,0,5,1,2017,0.55,0.08,14.784832,0.0,0.000,0,0,0.0,0.0000
4,2017-01-06,14.762584,14.807076,14.557920,14.646903,7863200,0.0,0,6,1,2017,-0.84,-0.12,14.682498,0.0,0.000,0,0,0.0,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1190,2021-10-20,15.300000,15.580000,15.210000,15.410000,19273600,0.0,0,20,10,2021,1.78,0.27,15.395000,0.0,0.000,57,33674,0.0,55.4965
1191,2021-10-21,15.000000,15.280000,14.850000,15.140000,23499300,0.0,0,21,10,2021,-1.75,-0.27,15.065000,0.0,0.000,57,33731,0.0,55.4965
1192,2021-10-22,14.830000,15.230000,14.540000,15.000000,29599100,0.0,0,22,10,2021,-0.92,-0.14,14.885000,0.0,0.000,57,33788,0.0,55.4965
1193,2021-10-25,15.010000,15.440000,15.000000,15.270000,19933100,0.0,0,25,10,2021,1.80,0.27,15.220000,0.0,0.000,57,33845,0.0,55.4965
1194,2021-10-26,15.150000,15.320000,15.050000,15.160000,20648000,0.0,0,26,10,2021,-0.72,-0.11,15.185000,1.0,15.185,58,33903,0.0,55.4965

### Space to tests and checks...

In [ ]:
temp = desempenho_ambev.loc[(desempenho_ambev['Month'] == 5) & (desempenho_ambev['Year']==2019)]
a = list(temp[-1:]['Day'])
a[0]

31

In [ ]:
ambev['Year'].unique()

array([2017, 2018, 2019, 2020, 2021])

In [ ]:
desempenho_ambev[desempenho_ambev['Bougth'] != 0]

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Day,Month,Year,Rentability%,Rentability pure,Action_value,Bougth,Valor_aportado,Total_actions,Total_aport,Dividend_receive,Total_receive
14,2016-01-22,14.097427,14.466605,14.097427,14.466605,15564500,0.00,0,22,1,2016,3.25,0.46,14.282016,1.0,14.282016,1,1,0.0,0.0000
32,2016-02-22,16.132982,16.271314,15.942776,16.072462,14696300,0.00,0,22,2,2016,1.47,0.23,16.107045,1.0,16.107045,2,20,0.0,0.1300
53,2016-03-22,16.167568,16.202150,15.986006,16.202150,10495100,0.00,0,22,3,2016,0.05,0.01,16.094078,1.0,16.094078,3,63,0.0,0.1300
74,2016-04-22,16.305897,16.815997,16.305897,16.565269,12394900,0.00,0,22,4,2016,-0.21,-0.03,16.560947,1.0,16.560947,4,127,0.0,0.1300
116,2016-06-22,16.072458,16.098396,15.769857,15.839023,15328400,0.00,0,22,6,2016,-1.40,-0.22,15.934126,1.0,15.934126,5,296,0.0,0.1300
138,2016-07-22,16.746654,16.938143,16.633501,16.877214,8907900,0.00,0,22,7,2016,0.99,0.17,16.785822,1.0,16.785822,6,407,0.0,0.7800
159,2016-08-22,17.277604,17.312420,16.999074,17.051298,10928000,0.00,0,22,8,2016,-1.31,-0.23,17.155747,1.0,17.155747,7,534,0.0,0.7800
181,2016-09-22,17.129636,17.164451,17.007779,17.120932,10250100,0.00,0,22,9,2016,1.08,0.18,17.086115,1.0,17.086115,8,689,0.0,0.7800
221,2016-11-22,15.485582,15.564590,15.029092,15.072985,12788200,0.00,0,22,11,2016,-1.60,-0.25,15.296841,1.0,15.296841,9,1010,0.0,2.0600
243,2016-12-22,14.433341,14.451139,14.050707,14.077402,13056700,0.22,0,22,12,2016,-1.86,-0.27,14.250923,1.0,14.250923,10,1209,2.2,4.2600
285,2017-02-22,16.189410,16.439577,16.180476,16.332363,11232800,0.00,0,22,2,2017,1.16,0.19,16.310026,1.0,16.310026,11,1630,0.0,4.9600
303,2017-03-22,15.519319,15.608663,15.322758,15.465711,8537200,0.00,0,22,3,2017,-0.63,-0.10,15.465711,1.0,15.465711,12,1829,0.0,4.9600
343,2017-05-22,16.475315,16.823762,16.475315,16.591463,25852800,0.00,0,22,5,2017,-0.27,-0.04,16.649538,1.0,16.649538,13,2310,0.0,4.9600
366,2017-06-22,16.225148,16.368101,16.171541,16.260887,7722900,0.00,0,22,6,2017,0.39,0.06,16.269821,1.0,16.269821,14,2610,0.0,4.9600
409,2017-08-22,17.892035,18.000198,17.693735,17.801899,17661900,0.00,0,22,8,2017,0.05,0.01,17.846966,1.0,17.846966,15,3213,0.0,7.2000
432,2017-09-22,19.271117,19.487445,19.253091,19.397308,12365600,0.00,0,22,9,2017,0.75,0.14,19.370268,1.0,19.370268,16,3559,0.0,7.2000
475,2017-11-22,18.667200,18.955637,18.658188,18.775364,16883600,0.00,0,22,11,2017,0.10,0.02,18.806912,1.0,18.806912,17,4248,0.0,7.2000
497,2017-12-22,19.167704,19.341539,19.012167,19.240898,9495400,0.00,0,22,12,2017,0.29,0.05,19.176853,1.0,19.176853,18,4623,0.0,12.4700
517,2018-01-22,20.027731,20.119224,19.981985,20.036880,9900600,0.00,0,22,1,2018,-0.45,-0.09,20.050605,1.0,20.050605,19,4984,0.0,12.4700
537,2018-02-22,20.605806,20.651698,20.422235,20.578270,16270400,0.00,0,22,2,2018,0.09,0.02,20.536966,1.0,20.536966,20,5365,0.0,13.8000
557,2018-03-22,22.019299,22.101906,21.780657,22.037657,10445800,0.00,0,22,3,2018,0.50,0.11,21.941282,1.0,21.941282,21,5766,0.0,13.8000
598,2018-05-22,18.770100,18.770100,18.393781,18.494743,26645200,0.00,0,22,5,2018,-0.74,-0.14,18.581941,1.0,18.581941,22,6628,0.0,13.8000
620,2018-06-22,16.895226,17.126667,16.719330,16.811907,10671500,0.00,0,22,6,2018,0.17,0.03,16.922999,1.0,16.922999,23,7113,0.0,17.3200
662,2018-08-22,17.571034,17.626581,17.367366,17.496973,11062000,0.00,0,22,8,2018,-0.42,-0.07,17.496974,1.0,17.496974,24,8080,0.0,17.3200
703,2018-10-22,15.682472,15.775049,15.339938,15.571380,20248500,0.00,0,22,10,2018,-0.24,-0.04,15.557494,1.0,15.557494,25,9065,0.0,17.3200
723,2018-11-22,15.302909,15.386228,15.219590,15.275135,7567000,0.00,0,22,11,2018,0.73,0.11,15.302909,1.0,15.302909,26,9566,0.0,17.3200
762,2019-01-22,16.902553,17.082066,16.449047,16.571873,22633800,0.00,0,22,1,2019,-2.56,-0.43,16.765557,1.0,16.765557,27,10581,0.0,25.6400
784,2019-02-22,17.233236,17.308821,17.015932,17.308821,22170000,0.00,0,22,2,2019,0.00,0.00,17.162376,1.0,17.162376,28,11176,0.0,25.6400
801,2019-03-22,15.778240,15.967200,15.608175,15.797134,33908300,0.00,0,22,3,2019,-1.53,-0.25,15.787687,1.0,15.787687,29,11653,0.0,25.6400
821,2019-04-22,16.137263,16.590768,16.004990,16.534081,19577100,0.00,0,22,4,2019,2.46,0.40,16.297879,1.0,16.297879,30,12234,0.0,25.6400
842,2019-05-22,16.222295,16.382912,16.033333,16.260086,16255100,0.00,0,22,5,2019,0.70,0.11,16.208122,1.0,16.208122,31,12865,0.0,25.6400
883,2019-07-22,17.072620,17.242685,16.864764,16.997036,12533800,0.00,0,22,7,2019,-0.55,-0.09,17.053725,1.0,17.053725,32,14137,0.0,25.6400
906,2019-08-22,17.875703,17.875703,17.271029,17.450541,26247200,0.00,0,22,8,2019,-1.76,-0.31,17.573366,1.0,17.573366,33,14874,0.0,25.6400
949,2019-10-22,17.828465,18.111905,17.677294,17.733984,23053700,0.00,0,22,10,2019,-1.16,-0.21,17.894600,1.0,17.894600,34,16294,0.0,25.6400
970,2019-11-22,17.025380,17.280478,16.949796,17.185997,17014400,0.00,0,22,11,2019,0.66,0.11,17.115137,1.0,17.115137,35,17009,0.0,25.6400
1009,2020-01-22,18.277322,18.500334,18.199753,18.471245,13925400,0.00,0,22,1,2020,1.65,0.30,18.350043,1.0,18.350043,36,18375,0.0,42.8110
1069,2020-04-22,11.296064,11.431811,11.160318,11.266975,22788300,0.00,0,22,4,2020,0.09,0.01,11.296064,1.0,11.296064,37,20536,0.0,42.8110
1090,2020-05-22,11.538468,11.625734,11.315456,11.383329,11924400,0.00,0,22,5,2020,-1.18,-0.14,11.470595,1.0,11.470595,38,21314,0.0,42.8110
1110,2020-06-22,13.283783,13.749201,13.264391,13.681327,24735500,0.00,0,22,6,2020,1.95,0.26,13.506796,1.0,13.506796,39,22075,0.0,42.8110
1132,2020-07-22,14.204921,14.670339,14.127352,14.263099,35800700,0.00,0,22,7,2020,0.20,0.03,14.398845,1.0,14.398845,40,22934,0.0,42.8110
1175,2020-09-22,12.333557,12.488696,12.188113,12.411126,13753000,0.00,0,22,9,2020,0.55,0.07,12.338404,1.0,12.338404,41,24655,0.0,42.8110
1196,2020-10-22,13.002594,13.157733,12.857152,13.157733,21189900,0.00,0,22,10,2020,1.50,0.19,13.007442,1.0,13.007442,42,25517,0.0,42.8110
1237,2020-12-22,15.426478,15.675292,15.396621,15.436431,15406100,0.00,0,22,12,2020,0.58,0.09,15.535957,1.0,15.535957,43,27240,0.0,60.1864
1256,2021-01-22,15.420000,15.550000,14.950000,15.150000,36117500,0.00,0,22,1,2021,-2.95,-0.46,15.250000,1.0,15.250000,44,28058,0.0,63.4845
1273,2021-02-22,14.560000,14.890000,14.330000,14.580000,39438200,0.00,0,22,2,2021,-2.08,-0.31,14.610000,1.0,14.610000,45,28807,0.0,63.4845
1293,2021-03-22,15.290000,15.680000,15.280000,15.540000,22475500,0.00,0,22,3,2021,-0.38,-0.06,15.480000,1.0,15.480000,46,29708,0.0,63.4845
1314,2021-04-22,15.890000,16.110001,15.660000,15.900000,22839800,0.00,0,22,4,2021,1.79,0.28,15.885000,1.0,15.885000,47,30675,0.0,63.4845
1356,2021-06-22,18.570000,18.670000,18.070000,18.290001,32543400,0.00,0,22,6,2021,-2.35,-0.44,18.370000,1.0,18.370000,48,32650,0.0,63.4845
1377,2021-07-22,17.139999,17.200001,16.889999,17.030001,17005900,0.00,0,22,7,2021,-0.99,-0.17,17.045000,1.0,17.045000,49,33659,0.0,63.4845
1420,2021-09-22,15.770000,15.900000,15.630000,15.720000,13740400,0.00,0,22,9,2021,0.38,0.06,15.765000,1.0,15.765000,50,35767,0.0,63.4845
1441,2021-10-22,14.830000,15.230000,14.540000,15.000000,29599100,0.00,0,22,10,2021,-0.92,-0.14,14.885000,1.0,14.885000,51,36818,0.0,63.4845

In [ ]:
year_temp = 0
meses = []
for year in list(desempenho_ambev['Year'].unique()):
        year_temp = desempenho_ambev.loc[(desempenho_ambev['Year']==year)]
        for month in list(year_temp['Month'].unique()):
            meses.append(month)
len(meses)

70

In [ ]:
desempenho_ambev['Valor_aportado'].sum()

83489.35075564646

In [ ]:
desempenho_ambev['Rentability pure'].sum() +

0.25000000000000044

In [ ]:
a = pd.Series([1,2,3,4,5,6,7,8])

In [ ]:
a[3:]

3    4
4    5
5    6
6    7
7    8
dtype: int64

In [ ]:
loc[(x['Day'] == 22) & (x['Month']==month),['Bougth']]

In [ ]:
ambev[ambev.index == 1]

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Day,Month,Year,Rentability%,Rentability pure,Action_value
1,2016-01-05,14.810026,15.041836,14.68983,15.007493,10774200,0.0,0,5,1,2016,1.57,0.23,14.865833