<a href="https://colab.research.google.com/github/ITALOZDKJ/Me-tornando-um-analista-de-dados/blob/main/Udemy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Inicialmente, descubra os cursos mais vendidos, os pagos mais vendidos e os gratuitos mais vendidos
## Assim como os mais bem avaliados e suas médias de notas

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('udemy_Finance.csv')

In [ ]:
df.head()

,id,title,url,is_paid,num_subscribers,avg_rating,avg_rating_recent,rating,num_reviews,is_wishlisted,num_published_lectures,num_published_practice_tests,created,published_time,discount_price__amount,discount_price__currency,discount_price__price_string,price_detail__amount,price_detail__currency,price_detail__price_string
0,762616,The Complete SQL Bootcamp 2020: Go from Zero t...,/course/the-complete-sql-bootcamp/,True,295509,4.66019,4.67874,4.67874,78006,False,84,0,2016-02-14T22:57:48Z,2016-04-06T05:16:11Z,455.0,INR,₹455,8640.0,INR,"₹8,640"
1,937678,Tableau 2020 A-Z: Hands-On Tableau Training fo...,/course/tableau10/,True,209070,4.58956,4.60015,4.60015,54581,False,78,0,2016-08-22T12:10:18Z,2016-08-23T16:59:49Z,455.0,INR,₹455,8640.0,INR,"₹8,640"
2,1361790,PMP Exam Prep Seminar - PMBOK Guide 6,/course/pmp-pmbok6-35-pdus/,True,155282,4.59491,4.59326,4.59326,52653,False,292,2,2017-09-26T16:32:48Z,2017-11-14T23:58:14Z,455.0,INR,₹455,8640.0,INR,"₹8,640"
3,648826,The Complete Financial Analyst Course 2020,/course/the-complete-financial-analyst-course/,True,245860,4.54407,4.53772,4.53772,46447,False,338,0,2015-10-23T13:34:35Z,2016-01-21T01:38:48Z,455.0,INR,₹455,8640.0,INR,"₹8,640"
4,637930,An Entire MBA in 1 Course:Award Winning Busine...,/course/an-entire-mba-in-1-courseaward-winning...,True,374836,4.47080,4.47173,4.47173,41630,False,83,0,2015-10-12T06:39:46Z,2016-01-11T21:39:33Z,455.0,INR,₹455,8640.0,INR,"₹8,640"

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13608 entries, 0 to 13607
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            13608 non-null  int64
 1   title                         13608 non-null  object
 2   url                           13608 non-null  object
 3   is_paid                       13608 non-null  bool
 4   num_subscribers               13608 non-null  int64
 5   avg_rating                    13608 non-null  float64
 6   avg_rating_recent             13608 non-null  float64
 7   rating                        13608 non-null  float64
 8   num_reviews                   13608 non-null  int64
 9   is_wishlisted                 13608 non-null  bool
 10  num_published_lectures        13608 non-null  int64
 11  num_published_practice_tests  13608 non-null  int64
 12  created                       13608 non-null  object
 13  published_time                13608 non-null  object
 14  discount_price__amount        12205 non-null  float64
 15  discount_price__currency      12205 non-null  object
 16  discount_price__price_string  12205 non-null  object
 17  price_detail__amount          13111 non-null  float64
 18  price_detail__currency        13111 non-null  object
 19  price_detail__price_string    13111 non-null  object
dtypes: bool(2), float64(5), int64(5), object(8)
memory usage: 1.9+ MB

In [ ]:
df['price_detail__currency'].dtype

dtype('O')

In [ ]:
df.isna().sum()

id                                 0
title                              0
url                                0
is_paid                            0
num_subscribers                    0
avg_rating                         0
avg_rating_recent                  0
rating                             0
num_reviews                        0
is_wishlisted                      0
num_published_lectures             0
num_published_practice_tests       0
created                            0
published_time                     0
discount_price__amount          1403
discount_price__currency        1403
discount_price__price_string    1403
price_detail__amount             497
price_detail__currency           497
price_detail__price_string       497
dtype: int64

In [ ]:
df.shape

(13608, 20)

In [ ]:
df = df.dropna()

In [ ]:
df.dtypes

id                                int64
title                            object
url                              object
is_paid                            bool
num_subscribers                   int64
avg_rating                      float64
avg_rating_recent               float64
rating                          float64
num_reviews                       int64
is_wishlisted                      bool
num_published_lectures            int64
num_published_practice_tests      int64
created                          object
published_time                   object
discount_price__amount          float64
discount_price__currency         object
discount_price__price_string     object
price_detail__amount            float64
price_detail__currency           object
price_detail__price_string       object
dtype: object

In [ ]:
df[['price_in_dollar','price_detail__currency', 'price_in_indian_rupee']]

       price_in_dollar price_detail__currency price_in_indian_rupee
0               116.68                    INR                ₹8,640
1               116.68                    INR                ₹8,640
2               116.68                    INR                ₹8,640
3               116.68                    INR                ₹8,640
4               116.68                    INR                ₹8,640
...                ...                    ...                   ...
13388            43.21                    INR                ₹3,200
13389            17.29                    INR                ₹1,280
13390           116.68                    INR                ₹8,640
13391            30.25                    INR                ₹2,240
13392            17.29                    INR                ₹1,280

[12205 rows x 3 columns]

In [ ]:
df['price_detail__amount'] = df['price_detail__amount']/74.05

In [ ]:
df['price_detail__amount'] = round(df['price_detail__amount'],2)

In [ ]:
df.rename(columns={'price_detail__amount': 'price_in_dollar'},inplace=True)

In [ ]:
df.rename(columns={'price_detail__price_string': 'price_in_indian_rupee'},inplace=True)

In [ ]:
df['price_in_indian_rupee'] = int(df['price_in_indian_rupee'])

In [ ]:
em_rupia = list(df['price_in_indian_rupee'])
for c in range(len(em_rupia)):
    em_rupia[c] = em_rupia[c].replace(',','.')
    em_rupia[c] = float(em_rupia[c][1:])
em_rupia

[8.64,
 8.64,
 8.64,
 8.64,
 8.64,
 8.64,
 8.64,
 8.64,
 8.64,
 8.64,
 8.64,
 8.64,
 5.76,
 8.64,
 8.64,
 8.64,
 8.64,
 8.64,
 8.64,
 1.28,
 8.64,
 8.64,
 9.28,
 2.56,
 4.8,
 8.64,
 8.64,
 8.64,
 8.64,
 6.72,
 8.64,
 8.64,
 2.56,
 1.92,
 10.24,
 8.64,
 8.64,
 8.64,
 8.64,
 10.24,
 2.24,
 8.64,
 2.56,
 1.28,
 8.96,
 8.64,
 8.64,
 8.64,
 9.28,
 1.92,
 8.64,
 8.64,
 8.64,
 8.64,
 8.64,
 6.4,
 1.28,
 8.64,
 8.64,
 6.4,
 8.64,
 1.28,
 8.64,
 8.64,
 8.64,
 8.64,
 5.76,
 8.64,
 8.64,
 6.4,
 7.04,
 8.64,
 3.2,
 8.64,
 8.64,
 1.28,
 6.4,
 8.96,
 8.64,
 8.96,
 8.64,
 3.2,
 6.4,
 3.2,
 8.64,
 9.28,
 8.64,
 8.64,
 6.4,
 7.68,
 8.64,
 8.64,
 8.64,
 8.64,
 8.64,
 8.64,
 2.88,
 8.64,
 8.64,
 7.68,
 6.4,
 1.92,
 4.8,
 4.48,
 8.64,
 8.64,
 8.64,
 8.64,
 8.64,
 2.88,
 5.44,
 8.64,
 8.64,
 6.4,
 8.64,
 3.2,
 8.64,
 5.44,
 8.64,
 3.2,
 8.64,
 6.4,
 1.92,
 8.64,
 3.2,
 8.64,
 8.64,
 8.96,
 8.64,
 8.64,
 9.28,
 8.64,
 1.28,
 3.2,
 1.6,
 8.64,
 8.64,
 8.96,
 8.64,
 8.64,
 1.28,
 1.28,
 3.2,
 6.08,
 8.64,
 8.64,
 3.52,
 8.64,
 1.28,
 1.28,
 1.6,
 6.4,
 2.88,
 8.64,
 6.08,
 1.28,
 2.88,
 6.4,
 6.08,
 6.4,
 1.92,
 8.32,
 7.36,
 8.64,
 8.64,
 8.64,
 10.24,
 8.64,
 8.32,
 8.64,
 8.64,
 9.6,
 8.64,
 8.64,
 1.92,
 2.88,
 8.64,
 8.64,
 8.64,
 8.64,
 3.2,
 8.96,
 5.76,
 4.16,
 8.64,
 8.64,
 1.28,
 1.28,
 6.4,
 1.6,
 9.28,
 8.64,
 6.4,
 8.64,
 6.08,
 8.64,
 1.6,
 8.64,
 6.4,
 1.92,
 8.64,
 8.64,
 4.8,
 3.2,
 8.64,
 8.64,
 8.64,
 9.28,
 6.4,
 4.8,
 8.64,
 1.28,
 8.64,
 9.28,
 7.68,
 9.6,
 8.64,
 8.64,
 8.64,
 8.96,
 7.04,
 6.4,
 4.16,
 8.64,
 9.6,
 8.64,
 5.76,
 1.28,
 3.2,
 6.08,
 8.64,
 8.64,
 2.56,
 1.28,
 10.24,
 3.2,
 1.28,
 8.64,
 8.64,
 9.6,
 1.28,
 1.28,
 8.96,
 8.64,
 2.56,
 8.32,
 8.64,
 8.64,
 8.0,
 6.4,
 5.76,
 6.4,
 1.28,
 9.6,
 7.04,
 8.64,
 6.4,
 1.92,
 7.36,
 8.64,
 8.64,
 6.4,
 8.64,
 8.64,
 8.64,
 8.64,
 6.4,
 9.28,
 1.28,
 8.64,
 8.64,
 3.2,
 1.28,
 6.4,
 5.76,
 8.64,
 8.0,
 8.64,
 3.52,
 8.64,
 8.0,
 3.2,
 8.96,
 8.64,
 6.4,
 6.4,
 8.64,
 4.16,
 2.24,
 1.28,
 2.56,
 8.64,
 1.28,
 8.64,
 3.2,
 1.92,
 8.64,
 6.4,
 8.64,
 8.64,
 8.64,
 6.08,
 6.4,
 6.08,
 9.28,
 3.52,
 4.8,
 8.64,
 8.64,
 6.4,
 8.64,
 3.2,
 3.2,
 4.48,
 8.0,
 8.64,
 8.96,
 6.72,
 8.64,
 8.64,
 6.4,
 3.84,
 8.64,
 8.0,
 8.64,
 1.28,
 8.64,
 8.64,
 5.76,
 8.64,
 5.76,
 6.4,
 2.88,
 5.12,
 8.64,
 8.64,
 1.6,
 8.64,
 3.2,
 8.64,
 6.08,
 6.72,
 6.08,
 8.64,
 3.84,
 8.64,
 1.28,
 8.64,
 3.84,
 8.96,
 6.4,
 1.6,
 4.8,
 8.64,
 8.64,
 8.64,
 6.4,
 4.8,
 2.88,
 8.64,
 1.92,
 3.2,
 4.16,
 4.8,
 1.92,
 2.88,
 8.64,
 1.6,
 8.64,
 3.84,
 3.2,
 8.64,
 1.28,
 8.64,
 9.28,
 4.8,
 3.2,
 8.64,
 1.92,
 6.4,
 2.24,
 1.92,
 5.76,
 1.92,
 8.0,
 8.96,
 8.64,
 8.64,
 4.16,
 6.4,
 1.28,
 9.28,
 9.6,
 8.64,
 8.64,
 6.4,
 7.68,
 8.64,
 5.44,
 6.4,
 8.64,
 8.64,
 8.64,
 8.64,
 2.56,
 2.88,
 1.6,
 3.84,
 8.64,
 8.64,
 3.2,
 1.28,
 8.64,
 6.08,
 6.4,
 1.28,
 8.96,
 8.64,
 8.64,
 6.4,
 8.64,
 7.04,
 2.88,
 8.64,
 8.64,
 8.64,
 8.64,
 6.08,
 8.64,
 2.56,
 1.28,
 3.2,
 6.4,
 8.64,
 3.2,
 8.64,
 8.32,
 8.64,
 1.6,
 8.64,
 8.0,
 1.92,
 6.4,
 8.64,
 8.64,
 8.64,
 7.68,
 6.4,
 8.64,
 8.64,
 5.12,
 2.24,
 8.64,
 5.76,
 8.64,
 8.64,
 4.8,
 8.64,
 8.64,
 6.4,
 8.64,
 8.64,
 8.64,
 8.64,
 8.64,
 1.28,
 1.28,
 1.28,
 4.16,
 6.4,
 8.64,
 3.2,
 8.64,
 8.64,
 8.64,
 3.2,
 8.64,
 1.28,
 6.4,
 4.8,
 1.92,
 8.64,
 8.64,
 7.04,
 1.28,
 8.64,
 6.08,
 6.08,
 3.2,
 8.64,
 6.4,
 3.2,
 7.68,
 1.92,
 4.48,
 1.6,
 6.4,
 8.64,
 1.92,
 7.04,
 1.28,
 6.08,
 8.64,
 8.64,
 3.2,
 8.64,
 8.64,
 9.6,
 8.64,
 3.2,
 8.64,
 8.64,
 1.28,
 1.28,
 8.96,
 9.6,
 6.08,
 1.6,
 1.28,
 8.64,
 8.96,
 1.28,
 5.44,
 2.56,
 8.64,
 8.64,
 8.64,
 8.96,
 8.64,
 8.64,
 8.64,
 8.64,
 6.4,
 3.2,
 8.64,
 8.64,
 6.72,
 8.96,
 5.44,
 2.56,
 8.32,
 2.56,
 11.52,
 1.92,
 6.08,
 6.4,
 5.12,
 8.64,
 8.64,
 1.92,
 8.64,
 3.2,
 1.28,
 8.64,
 8.64,
 8.64,
 2.88,
 8.64,
 9.28,
 8.64,
 8.64,
 8.64,
 6.08,
 8.64,
 5.76,
 1.92,
 8.64,
 1.6,
 4.8,
 8.64,
 8.64,
 3.2,
 6.08,
 8.64,
 8.64,
 1.6,
 8.64,
 8.64,
 6.4,
 8.64,
 1.28,
 5.12,
 1.28,
 6.4,
 6.4,
 8.64,
 8.64,
 8.64,
 1.6,
 1.28,
 8.64,
 3.2,
 8.64,
 8.64,
 2.88,
 1.28,
 1.92,
 8.64,
 8.64,
 8.64,
 8.64,
 8.64,
 8.64,
 1.28,
 3.2,
 8.64,
 8.0,
 8.64,
 1.28,
 2.88,
 6.4,
 1.28,
 8.64,
 6.4,
 1.28,
 8.64,
 2.24,
 9.28,
 8.64,
 8.64,
 8.64,
 8.64,
 8.64,
 1.28,
 8.64,
 8.64,
 1.28,
 8.64,
 1.6,
 4.8,
 8.64,
 5.76,
 5.76,
 8.64,
 8.64,
 2.88,
 6.4,
 3.2,
 8.64,
 2.88,
 2.88,
 8.96,
 9.28,
 8.64,
 9.28,
 8.96,
 8.64,
 8.64,
 6.08,
 3.2,
 9.28,
 3.2,
 8.64,
 8.64,
 2.56,
 6.4,
 6.72,
 1.28,
 6.08,
 8.64,
 8.64,
 8.64,
 1.6,
 2.56,
 8.0,
 3.2,
 1.28,
 8.64,
 6.08,
 6.4,
 8.64,
 8.64,
 8.64,
 1.28,
 8.64,
 8.64,
 1.28,
 8.64,
 8.64,
 8.64,
 8.64,
 8.64,
 5.12,
 6.4,
 1.28,
 5.12,
 8.64,
 6.08,
 1.28,
 8.96,
 8.64,
 3.2,
 1.92,
 1.28,
 8.64,
 6.4,
 8.64,
 4.16,
 4.16,
 6.4,
 8.64,
 6.4,
 1.28,
 8.64,
 8.64,
 1.28,
 8.64,
 8.64,
 1.28,
 2.56,
 9.28,
 8.64,
 6.4,
 1.92,
 9.28,
 1.28,
 8.64,
 2.24,
 9.92,
 1.6,
 1.28,
 8.64,
 3.2,
 8.0,
 8.64,
 5.44,
 8.64,
 8.64,
 8.0,
 8.64,
 8.64,
 3.2,
 9.6,
 7.68,
 8.64,
 8.64,
 1.28,
 4.16,
 8.64,
 8.64,
 8.64,
 8.64,
 1.28,
 3.2,
 1.6,
 8.64,
 8.64,
 8.64,
 8.64,
 8.64,
 1.28,
 8.64,
 5.12,
 8.64,
 8.64,
 3.2,
 8.64,
 1.28,
 1.28,
 8.64,
 2.56,
 6.08,
 8.64,
 8.64,
 3.2,
 5.12,
 6.08,
 7.04,
 8.96,
 6.4,
 8.64,
 6.4,
 5.12,
 8.64,
 7.36,
 3.84,
 2.88,
 8.64,
 8.64,
 6.08,
 8.64,
 2.24,
 1.92,
 5.76,
 8.64,
 8.64,
 1.6,
 7.68,
 1.6,
 2.56,
 6.4,
 1.28,
 8.64,
 8.64,
 2.88,
 3.2,
 7.68,
 3.2,
 1.28,
 6.08,
 9.6,
 3.2,
 1.28,
 2.56,
 8.96,
 8.64,
 8.64,
 6.4,
 6.4,
 3.2,
 8.64,
 5.76,
 8.64,
 2.56,
 6.4,
 1.92,
 8.64,
 8.64,
 8.64,
 8.64,
 8.64,
 7.68,
 8.96,
 3.2,
 2.56,
 2.56,
 8.64,
 3.2,
 3.2,
 6.72,
 6.4,
 8.64,
 8.64,
 8.64,
 4.8,
 6.4,
 8.0,
 3.2,
 8.64,
 3.2,
 2.88,
 2.88,
 8.64,
 6.08,
 2.24,
 3.2,
 8.64,
 2.24,
 6.08,
 2.56,
 8.64,
 1.28,
 6.4,
 2.88,
 8.64,
 8.64,
 8.64,
 8.64,
 1.28,
 8.64,
 8.32,
 6.08,
 8.64,
 8.96,
 8.64,
 8.64,
 8.64,
 8.64,
 5.76,
 8.64,
 7.68,
 6.08,
 8.64,
 1.28,
 8.64,
 1.28,
 6.08,
 8.0,
 1.6,
 8.64,
 2.88,
 2.56,
 8.64,
 6.4,
 1.28,
 3.2,
 8.64,
 8.32,
 2.24,
 3.84,
 8.0,
 8.64,
 8.64,
 1.28,
 7.04,
 8.64,
 8.64,
 8.64,
 3.2,
 8.64,
 1.28,
 1.28,
 5.76,
 1.6,
 6.4,
 3.2,
 2.56,
 8.64,
 8.64,
 2.24,
 6.4,
 8.64,
 8.64,
 3.2,
 6.4,
 8.64,
 1.28,
 1.28,
 4.8,
 4.8,
 2.88,
 8.64,
 8.64,
 8.64,
 3.2,
 6.4,
 8.64,
 8.64,
 8.64,
 6.08,
 4.8,
 1.6,
 6.72,
 8.64,
 8.64,
 8.64,
 3.2,
 8.64,
 3.2,
 6.08,
 6.08,
 8.96,
 6.08,
 1.28,
 6.4,
 1.28,
 8.0,
 3.2,
 3.2,
 8.64,
 8.64,
 9.28,
 8.64,
 6.4,
 6.08,
 8.64,
 6.08,
 8.64,
 8.64,
 3.2,
 8.64,
 8.64,
 1.92,
 8.0,
 8.64,
 8.64,
 8.0,
 8.64,
 8.0,
 1.92,
 1.28,
 3.2,
 1.92,
 2.56,
 8.64,
 1.28,
 8.64,
 1.28,
 8.64,
 8.64,
 8.64,
 8.0,
 1.28,
 8.64,
 8.64,
 3.2,
 8.64,
 8.64,
 1.92,
 3.2,
 6.08,
 6.4,
 7.36,
 8.64,
 7.36,
 8.64,
 3.52,
 2.24,
 4.48,
 8.64,
 ...]

In [ ]:
df['price_in_indian_rupee'] = em_rupia

In [ ]:
df[['price_in_dollar','price_in_indian_rupee']]

       price_in_dollar  price_in_indian_rupee
0               116.68                   8.64
1               116.68                   8.64
2               116.68                   8.64
3               116.68                   8.64
4               116.68                   8.64
...                ...                    ...
13388            43.21                   3.20
13389            17.29                   1.28
13390           116.68                   8.64
13391            30.25                   2.24
13392            17.29                   1.28

[12205 rows x 2 columns]